/* To-Do */

.mainCard {
  background-color: rgba(0, 0, 0, 0)  !important;
  border: 2px solid #a8b4c000;
  border-radius: 5px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.453) !important;
}

.barButton {
  margin: 3px !important;
  margin-top: 5px !important;
  background-color: #ffffff3a !important;
  color: #ffffff86 !important;
  border: 1.5px solid #a8b4c000 !important;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.375) ;
}

.taskCard {
  margin-top: 10px !important;
  background-color: #d1d5db4e !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.373) !important;
}

/* ==== CUSTUM FONTS ====*/
@font-face {
  font-family: ElMessiri;
  src: url("/public/fonts/ElMessiri-Regular.ttf");
}

/* ==== // CUSTUM FONTS ====*/
